body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

body * {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: 200;
}

#bg {
  position: fixed;
  width: 100vw;
  min-width: 1200px;
  filter: blur(6px);
  z-index: 1;
  top: 0;
  left: 0;
}

.white {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 400px;
  z-index: 10;
  background: white;
  border-bottom: 2px solid brown;
}

#about {
  display: flex;
  justify-content: space-around;
  width: 76vw;
  margin: 80px 12vw;
  z-index: 100;
}

.body {
  display: flex;
  width: 76vw;
  margin: 80px 12vw;
  z-index: 100;
}

.body h3 {
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid brown;
  margin-bottom: 25px;
}

.curve-cont {
  position: absolute;
  background: brown;
  margin-top: 250px;
  z-index: 20;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}

.curve {
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 0px 150px;
  background: white;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 400px;
  z-index: 10;
  background: transparent;
  color: white;
  border-bottom: 2px solid brown;
}

#header {
  justify-content: flex-start;
}

#title {
  margin-left: 12vw;
}

#title > * {
  color: white;
  font-size: 64px;
}

#title > h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid brown;
  margin-bottom: 25px;
}

#title > h5 {
  margin: 7px 0px 0px 4px;
  font-size: 18px;
}

#about-me {
  display: flex;
  flex-direction: column;
}

#about-me > h3 {
  align-self: flex-end;
}

#projects > div {
  display: flex;
  flex-direction: column;
}

#projects h3 {
  align-self: center;
}

#portrait {
  min-width: 20vw;
  background: black;
  margin-right: 50px;
}

#project-list {
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

#project-list img {
  width: 100%;
  height: 200px;
  background: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 1px 1px 7px white;
}

#project-list h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

#project-list p {
  font-size: 16px;
  margin-bottom: 20px;
  height: 150px;
}

#project-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  color: white;
  margin: 30px 20px;
}

#footer {
  height: 250px;
  overflow: hidden;
  border-bottom: none;
}

#footer-bg {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100vw;
}

#footer > .curve-cont {
  margin-top: 100px;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 325px;
  border: 1px solid white;
  box-shadow: 1px 1px 7px white;
  background: transparent;
  z-index: 20;
}

#links img {
  margin: 0px 15px;
  height: 30px;
  width: 30px;
}

#links img:hover {
  height: 36px;
  width: 36px;
  margin: 0px 12px;
}

#phone img {
  height: 26px;
  width: 26px;
}

#phone img:hover {
  height: 32px;
  width: 32px;
}

#mail img {
  height: 24px;
  width: 32px;
}

#mail img:hover {
  margin: 0px 11px;
  height: 30px;
  width: 40px;
}

.buttons {
  padding: 20px 0px;
  width: 150px;
  font-size: 18px;
  background: white;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.10s ease-in-out;
  color: black;
  text-align: center;
}

.buttons:hover {
  cursor: pointer;
  color: white;
  background: transparent;
}

.buttons:focus {
  border: 1px solid brown;
  outline: none;
}

.buttons:active {
  border: 1px solid brown;
  background: white;
  color: black;
}
